<p>=============================================================================</p>
<h1>Editing listing</h1>

<!--<%= link_to 'Show', @listing %> |-->
<%= link_to 'Back to table of listings', listings_path %>
<p>=============================================================================</p>
<%= render 'form' %>




