<p>=============================================================================</p>
<%= link_to 'Back to table of listings', listings_path , :class => 'btn btn-mini '%>
<p>=============================================================================</p>
<%= render 'form' %>




