<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript"
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAcCH7ntWPihR8rdCsblUiSRSNptYsO6IA&sensor=false"></script>


<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'application'%>
<%= stylesheet_link_tag 'listings' %>
<body onload="initialize()">
	<h4><%= link_to 'Back to listings table', listings_path %></h4>
	<div id="control_panel">
	<input type="button" onclick="getlistings();" value="Add Markers">
	<input type="button" onclick="clearMarkers();" value="Remove Markers">
	
	</div>
	<div id="info"></div>
	<div id="map_canvas" ></div>
	
	
	
</body>
