<h3><%= link_to 'Click here to create a new Listing', new_listing_path %></h3>

<table id="listings" class="display" data-source="<%= listings_url(format: "json")%>">
	<thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>telephone</th>
    <th>fax</th>
    <th>suite</th>
    <th>address</th>
    <th>city</th>
    <th>province</th>
    <th>postal_code</th>
    <th>latitude</th>
    <th>longitude</th>
    <th>business Type</th>
    <th>Business Sub Type</th>
    <th>Owner</th>
    <th>Source</th>
    <th>Local Area</th>
    
    <th>Keep this listing?</th>
    <th>Checked</th>
    <th>Menu Collected?</th>
    <th>Menu Digitized?</th>
    <th>Menu in DB?</th>
  </tr>
	</thead>
	
	<tbody>

	</tbody>
</table>

<br />

