<b><%= link_to 'Click here to create a new Listing', new_listing_path %></b> | <b><%= link_to 'Click here to see Listings on Map', geoView_path %></b>

<table id="listings" class="display" data-source="<%= listings_url(format: "json")%>">
	<thead>
  <tr>
  	<th>Checked?</th>
    <th>Menu Collected?</th>
    <th>Menu Digitized?</th>
    <th>Menu in DB?</th>
    <th>Keep this listing?</th>
    <th>Get menu from website?</th>
    <th>url</th>
    <th>id</th>
    <th>name</th>
    <th>telephone</th>
    <th>fax</th>
    <th>suite</th>
    <th>address</th>
    <th>city</th>
    <th>province</th>
    <th>postal code</th>
    <th>latitude</th>
    <th>longitude</th>
    <th>business type</th>
    <th>sub type</th>
    <th>Owner</th>
    <th>Local area</th>
    
  </tr>
	</thead>
	
	<tbody>

	</tbody>
</table>

<br />

