// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td 
{
  border: 1px solid black;
  //table-layout: fixed;
  //width:90px;
  font-size:90%;
  
}
table td
{
  //background-color:#FFFF00;
}


.datatable
{
  background-color:#CCFFCC;
}

.set_state
{
  background-color:#FFFF00;
}

.datatable #heading
{
  background-color:#A9A9A9;
  
}

.datatable #body
{
  text-align: left;
}
